<footer id="footer" class="pt-16 pb-8 footer-main font-footer bg-blue text-white">
  <div class="container">

    {% block footer %}

  <div class="row pb-8 md:pb-0 lg:pb-12">
  
      <div class="col w-10/12 mx-auto flex flex-wrap justify-between">
        <div class="w-full md:w-6/12 lg:w-auto flex-shrink pb-8 md:pb-10">
          <p class="text-center">
            Bar & shop<br>
            Boschstraat 31<br>
            4811 GA, Breda
          </p>
        </div>
        <div class="w-full md:w-6/12 lg:w-auto flex-shrink pb-8 md:pb-10">
          <p class="text-center">
            Contact<br>
            076 888 8708<br>
            info@kamu-breda.nl
          </p>
        </div>
        <div class="w-full md:w-6/12 lg:w-auto flex-shrink pb-8 md:pb-10">
          <p class="text-center">
            Follow us<br>
            instagram<br>
            facebook
          </p>
        </div>
        <div class="w-full md:w-6/12 lg:w-auto flex-shrink pb-8 md:pb-10">
          <p class="text-center">
            Openingstijden<br>
            Ma-Vr: 09:00 - 17:30<br>
            Zaterdag: 09:00 - 17:00<br>
            Zondag: 11:00 - 17:00
          </p>
        </div>
      </div>

      </div>

      <div class="row">
        <div class="col lg:ml-1/12">
          <p class="font-small">
            &copy;
            {{ "now"|date("Y") }}
            Kamu Breda
          </p>
        </div>
      </div>

    {% endblock %}

  </div>
</footer>
