<div class="header-color-changer" data-from="blue" data-to="white"></div>

<section class="pt-16 bg-blue text-white">
  <div class="container">

    {% for item in 1..3 %}
      
    <div class="row">
      <div class="col ml-1/12 w-1/12">10 Aug</div>
      <div class="col w-8/12">
        <h1>
          Workshop gravelbikes
        </h1>
      </div>
    </div>

    {% endfor %}

    <div class="row">
    <div class="col ml-2/12">
    <a href="#">complete agenda</a>
    </div>
    </div>

  </div>
</section>

<div class="header-color-changer" data-from="white" to="blue"></div>

<div class="spacer w-full pt-32"></div>