<section class="section {{ section_class|join(' ') }}">
  <div class="container">

    <div class="slider-wrapper" data-slider-interactive="false" data-slider-loop="true" data-slider-autoplay="1000" data-slider-gutter="true" data-slider-center="false" data-slider-items="6">
      <div class="slider-container">

        {% for slide in 1..12 %}

          <div class="slide relative">
            {% include "components/image.twig" with {
              size : "square",
              ratio: "strict"
            } %}
          </div>

        {% endfor %}

      </div>
    </div>

  </div>
</section>