<section class="section {{ section_class|join(' ') }}">
  <div class="container">

    <div class="slider-wrapper" data-slider-interactive="false" data-slider-loop="true">
      <div class="slider-container">

        {% for slide in 1..3 %}

          <div class="slide relative">
            <div class="row">
              <div class="col mx-2/12 w-8/12 relative">
                <div class="quote-symbol">
                  {% include "svg/quote.twig" %}
                </div>
                <h1 class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore quis laudantium perspiciatis. Numquam dolore temporibus fugiat ipsa impedit similique nulla. Optio nisi est et non enim dolorem voluptas illo!
                </h1>
                <p>
                  CV de Koffiefilters
                </p>
              </div>
            </div>

          </div>

        {% endfor %}
      </div>

      <div class="slider-next">
        {% include "svg/arrow-right.twig" %}
      </div>
    </div>

  </div>
</section>