<section class="section {{ section_class|join(' ') }}">
  <div class="container">

    <div class="row">
      <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto font-body">

        {{ fields.text }}

      </div>
    </div>

  </div>
</section>