<section class="section {{ section_class|join(' ') }}">
  <div class="container">

    <div class="row">
      <div class="col w-full lg:w-8/12 mx-auto relative">
        <blockquote class="font-h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore quis laudantium perspiciatis. Numquam dolore temporibus fugiat ipsa impedit similique nulla. Optio nisi est et non enim dolorem voluptas illo!</blockquote>
      </div>
    </div>

  </div>
</section>