.footer-main {
  @apply relative w-full;
  transition: background 400ms ease;
  flex-shrink: 0;

  &.pinned {
    @apply fixed bottom-0;
    .btn-close {
      pointer-events: all;
      opacity: 1;
      transition: $short ease;
    }
  }
}