@import './_anime.pcss';
@import './_buttons.pcss';
@import './_images.pcss';
@import './_swiper.pcss';
@import './_home.pcss';
@import './_koffie.pcss';
@import './_fietsen.pcss';

#splash-screen {
  opacity: 0;
}

@keyframes fadeFast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}