/* grid */
$section-offset-mobile: 32px;
$section-offset-tablet: 40px;
$section-offset: 64px;
$gutter-mobile: 12px;
$gutter-tablet: 24px;
$gutter: 50px;
$site-max-width: 2000px;
$site-offset: 20px;
$site-offset-tablet: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset + 2rem);
/*  */
$burger-width: 30px;
$burger-height: 27px;